<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--CONTEXT-->

    <context-param>
        <param-name>jdbcDriver</param-name>
        <param-value>mysql</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUrl</param-name>
        <param-value>dummy-url</param-value>
    </context-param>

    <!--SERVLET-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.IDEAwebdemo.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>HelloServletXML</servlet-class>
        <init-param>
            <param-name>helloworld</param-name>
            <param-value>"hello world"</param-value>
        </init-param>
    </servlet>

    <!--SERVLET MAPPING-->
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello-world</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/say-hello</url-pattern>
    </servlet-mapping>

    <!--FILTER-->

    <filter>
        <filter-name>filter1</filter-name>
        <filter-class>filters.FirstFilter</filter-class>
    </filter>
    <filter>
        <filter-name>filter2</filter-name>
        <filter-class>filters.SecondFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter1</filter-name>
        <url-pattern>/filter</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter2</filter-name>
        <url-pattern>/filter</url-pattern>
    </filter-mapping>

</web-app>